In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [2]:
sample = pd.read_csv("all/public.sample.csv")

In [3]:
sample.head()

   Id  Expected
0   1        10
1   2        10
2   3        10
3   4        10
4   5        10

In [4]:
sample.shape

(1000000, 2)

In [5]:
!chmod 755 all/Oracle.static

In [6]:
["feature_{}".format(i) for i in range(1, 11)]

['feature_1',
 'feature_2',
 'feature_3',
 'feature_4',
 'feature_5',
 'feature_6',
 'feature_7',
 'feature_8',
 'feature_9',
 'feature_10']

In [7]:
data = pd.read_csv("all/public.data", sep=" ", names=["feature_{}".format(i) for i in range(1, 11)])

In [8]:
data.head()

,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10
0,8.401877,3.943829,7.830992,7.984400,9.116474,1.975514,3.352228,7.682296,2.777747,5.539700
1,4.773971,6.288709,3.647845,5.134009,9.522297,9.161951,6.357117,7.172969,1.416026,6.069689
2,0.163006,2.428868,1.372316,8.041768,1.566791,4.009444,1.297904,1.088088,9.989245,2.182569
3,5.129324,8.391122,6.126398,2.960316,6.375523,5.242872,4.935830,9.727750,2.925168,7.713577
4,5.267450,7.699138,4.002286,8.915295,2.833147,3.524583,8.077245,9.190265,0.697553,9.493271

In [9]:
data.shape

(1000000, 10)

In [10]:
# x0*x5 + x7/x8*sqrt(x5/x6)+(%pi)*sqrt(x1)+1/sin(x2)+ln(x1+x3)

In [12]:
def func(x):
    return x[1]*x[6] + x[8]/x[9]*np.sqrt(x[6]/x[7]) + (np.pi)*np.sqrt(x[2]) + 1/np.sin(x[3]) + np.log(x[2]+x[4])

In [16]:
test_point = np.array([8.401877, 3.943829, 7.830992, 7.984400, 9.116474, 1.975514, 3.352228, 7.682296, 2.777747, 5.539700])

In [17]:
test_point

array([8.401877, 3.943829, 7.830992, 7.9844  , 9.116474, 1.975514,
       3.352228, 7.682296, 2.777747, 5.5397  ])

In [18]:
func(test_point)

26.181930492742538

In [ ]:
Expected_list = []

for i in tqdm(range(len(sample))):
    try:
        #sample.loc[i].Expected = func(data.loc[i])
        Expected_list.append(func(data.loc[i]))
    except Esception as e:
        Expected_list.append(10)
        print(e)
        continue

 17%|█▋        | 170776/1000000 [00:43<03:33, 3889.52it/s]

In [27]:
len(Expected_list)

512028

In [28]:
len(sample.Expected)

1000000

In [26]:
sample.Expected = Expected_list

ValueError: Length of values does not match length of index

In [20]:
sample.to_csv("sub_2", index = False)

In [21]:
sample

             Id  Expected
0             1        10
1             2        10
2             3        10
3             4        10
4             5        10
5             6        10
6             7        10
7             8        10
8             9        10
9            10        10
10           11        10
11           12        10
12           13        10
13           14        10
14           15        10
15           16        10
16           17        10
17           18        10
18           19        10
19           20        10
20           21        10
21           22        10
22           23        10
23           24        10
24           25        10
25           26        10
26           27        10
27           28        10
28           29        10
29           30        10
...         ...       ...
999970   999971        14
999971   999972        41
999972   999973        37
999973   999974        16
999974   999975        63
999975   999976       573
999976   999977        41
999977   999978        29
999978   999979       154
999979   999980        52
999980   999981        62
999981   999982        12
999982   999983         4
999983   999984        10
999984   999985         9
999985   999986        22
999986   999987        45
999987   999988        67
999988   999989        73
999989   999990        18
999990   999991        79
999991   999992        33
999992   999993        19
999993   999994        47
999994   999995        54
999995   999996        16
999996   999997        12
999997   999998        10
999998   999999        18
999999  1000000        33

[1000000 rows x 2 columns]